@charset "UTF-8";
/* CSS Document */

/*Default Attributes----------------------------------------*/
html{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.5rem;
	text-align: center;
	background-color: lightpink;
}
/*Text Attributes-------------------------------------------*/
h1{
	font-size: 3.5rem;
}

h2{
	font-size: 2rem;
}

h3{
	font-size: 5rem;
	color: lightpink;

}

h4{
    font-size: 2rem;
    color: lightpink;

}

/*Media Queries------------------------------------------*/

@media all and (max-width: 780px) {
	h1{
		font-size: 2rem;
	}

	h2{
		font-size: 1rem;

	}

	h3{
		font-size: 2.5rem;
		color: lightpink;
		z-index: 200;

	}

    h4{
        font-size: 1rem;
        color: lightpink;
        z-index: 200;

    }
}

/*Blinking Text Animation------------------------------------------*/
.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


/*Class Attributes------------------------------------------*/
.img{
	margin: 0;
}

.float-left-1{
	float: left;
	width: 13%;
}

.float-left-2{
	float: left;
	width: 21%;
}

.float-left-3{
	float: left;
	width: 40%;
	text-align: left;
	margin: 40px;
	margin-top: 0px;
}

.float-right{
	float: right;
    width: 400px;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
}

.hidden{
	display: none;
}

/*.top-right{
	text-align: right;
    margin-right: 40px;
}

.top-center{
	text-align: center;
	vertical-align: top;
}*/


/*ID Attributes----------------------------------------------*/
#cookie{
	position: absolute;
	margin: auto;
	bottom:	0px;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: -1;
}

#cookie-mask{
	width: 100vh;
}


#to-bottom{
	position:fixed; 
	width:100%; 
	height: 250px; 
	padding:5px; 
	bottom:0px;
}

#firework
	{
	background: black;
/*	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
	width: 100vw;
	height: 100vh;;
	margin: 0 auto;
	position:absolute;
	z-index: 200;
}



#gameover
	{
	background: black;
	/* 	background: url("../img/gameover.png");
       background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;*/
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	z-index: 200;
}
	